---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';
import Post from '@/components/Post.astro';
import Document from '@/layout/Document.astro';

export async function getStaticPaths() {
  const posts = await getCollection('grafia', (post) => post.data.public);

  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<'grafia'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Document title={post.id}>
  <div class="h-full">
    <Post post={post}>
      <Content />
    </Post>
  </div>
</Document>
