---
import { getCollection } from 'astro:content';
import Related from '@/components/Related.astro';
import Post from '@/components/Post.astro';
import { TITLES } from '@/consts';
import Document from '@/layout/Document.astro';
import {
  extendCollection,
  type ExtendedCollectionEntry,
} from '@/utils/collections';

export async function getStaticPaths() {
  const posts = await getCollection('antenas', (post) => post.data.public);

  const extendedPosts = extendCollection(posts);

  return extendedPosts.map((data) => ({
    params: { slug: data.path || '/' },
    props: data,
  }));
}

type Props = ExtendedCollectionEntry;

const { name, post, related } = Astro.props;
---

<Document
  title={Astro.params.slug ? TITLES.slug(Astro.params.slug) : TITLES.index}
>
  {
    post && (
      <div class="mb-2">
        <Post name={name} post={post} />
      </div>
    )
  }
  {related && <Related related={related} />}
</Document>
