---
import { DESCRIPTIONS, TITLES } from '@/consts';
import Document from '@/layout/Document.astro';
import { renderEntry } from '@/utils/collections';

const Antenas = await renderEntry('site', 'antenas');
---

<Document title={TITLES.index} description={DESCRIPTIONS.index}>
  <div class="prose">
    <Antenas />
  </div>
</Document>
