---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';

type Props = {
  post: CollectionEntry<'grafia'>;
};

const { post } = Astro.props;
---

<article>
  <div class="prose mx-auto max-w-[68ch]">
    {post.data.date && <FormattedDate date={post.data.date} />}
    <h1>{post.id}</h1>
    <slot />
  </div>
</article>
