---
import { PATHS } from '@/consts';
import type { CollectionEntry } from 'astro:content';

type Props = {
  posts?: CollectionEntry<'antenas'>[];
  paths?: string[];
};

const { posts, paths} = Astro.props;

---

<ul>
  {
    paths?.map((slug) => (
      <li>
        <a href={PATHS.slug(slug)}>{slug}...</a>
      </li>
    ))
  }
  {
    posts?.map((post) => (
      <li>
        <a href={PATHS.slug(post.id)}>{post.id}</a>
      </li>
    ))
  }
</ul>
