---
import type { ExtendedCollectionEntry } from '@/utils/collections';
import { render } from 'astro:content';

type Props = {
  name: string
  post: NonNullable<ExtendedCollectionEntry['post']>
};

const { name, post } = Astro.props;
const { Content } = await render(post);
---

<article class="prose">
  <p>{name}</p>
  <Content />
</article>
