---
import type { ExtendedCollectionEntry } from '@/utils/collections';
import { render } from 'astro:content';

type Props = {
  name: string
  post: NonNullable<ExtendedCollectionEntry['post']>
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<article class="prose">
  {
    post.data.year && (
      <p>
        <i>season {post.data.year}</i>
      </p>
    )
  }
  <Content />
</article>
