---
import { PATHS } from '@/consts';
import type { ExtendedCollectionEntry } from '@/utils/collections';

type Props = {
  related: ExtendedCollectionEntry['related']
}

const { related } = Astro.props;

---

<div class="prose">
  <ul>
    {
      related.map(({ path, name, post }) => (
        <li>
          <a href={PATHS.slug(path)}>
            {name}
            {post?.data.year && `@ ${post.data.year}`}
          </a>
        </li>
      ))
    }
  </ul>
</div>
