---
import { PATHS, TITLES } from '@/consts';
import { isPathnameEqual } from '@/utils/url';
---

<header>
  <nav class="flex gap-4 px-8 py-6">
    <a
      href={PATHS.index}
      data-active={isPathnameEqual(Astro.url.href, PATHS.index)}
      class="text-lg data-[active=true]:underline">{TITLES.index}</a
    >
    <a
      href={PATHS.arquivos.index}
      data-active={isPathnameEqual(Astro.url.href, PATHS.arquivos.index)}
      class="text-lg data-[active=true]:underline">{TITLES.arquivos.index}</a
    >
  </nav>
</header>
