---
import { PATHS, TITLES } from '@/consts';
import { isPathnameEqual } from '@/utils/url';
---

<header>
  <nav class="flex gap-4 px-8 py-6">
    <a
      href={PATHS.index}
      data-active={isPathnameEqual(Astro.url.href, PATHS.index)}
      class="underline-link text-lg data-[active=true]:underline"
      >{TITLES.index}</a
    >
    <a
      href={PATHS.grafia.index}
      data-active={isPathnameEqual(Astro.url.href, PATHS.grafia.index)}
      class="underline-link text-lg data-[active=true]:underline"
      >{TITLES.grafia.index}</a
    >
  </nav>
</header>
