---
import { PATHS, TITLES } from '@/consts';

const paths = Astro.url.pathname.split('/').slice(1,-1)
---

<header>
  <nav class="my-2 flex gap-3">
    <a href={PATHS.index}>{TITLES.index}</a>
    {
      paths.map((path, index) => (
        <a href={`/${paths.slice(0, index + 1).join('/')}`}>
          {decodeURI(path)}
        </a>
      ))
    }
  </nav>
</header>
